@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html {
        font-family: Arial, sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Arial Black', sans-serif;
    }

    h1 {
      font-size: var(--text-4xl);
    }

    @media (min-width: 768px) {
      h1 {
        font-size: var(--text-6xl);
      }
    }

    h2 {
      font-size: var(--text-2xl);
    }

    h3 {
      font-size: var(--text-xl);
    }

    h4 {
      font-size: var(--text-lg);
    }

    h5 {
      font-size: var(--text-base);
    }

    h6 {
      font-size: var(--text-sm);
    }
}

.collapse-title {
  font-size: var(--text-2xl);
}

.menu-title {
  font-size: var(--text-xl);
}